body {
    text-align: center;
}
header {
    position:static ;
    padding: 1%;
}
div {
    display: inline-block;
    padding: 1%;
}


input {
    border-radius: 5px;
    padding: 3px;

}  

input[type="submit"] {
    display: relative;
    padding: 5px;


}
span {
    font-weight: bold;
    
}
p {
    color: #666666	;
    font-weight:lighter;
}